<h2><%= @location.name %></h2>
<img src="<%= @location.image %>" alt="<%= @location.name %>" width="400">
<div class="location-desc">
  <h3>Description</h3>
  <p><%= @location.description %></p>
</div>
<div class="found-it">
  <p>This location has been found <span class="found-count"><%= @founds.count %></span> times.</p>
  <% if logged_in? %>
    <% if @user_has_found %>
      <p>You have found this location!</p>
    <% else %>
      <button type="button" name="button" disabled class="found-it-btn">Not Close Enough to Location</button>
    <% end %>
  <% end %>
</div>
<% if logged_in? %>
<script type="text/javascript">
var token = $('meta[name="csrf-token"]').attr('content');

var inRange = function(){
  getLocation();
  var closeEnoughAPICall = {
    url: '/api/close_enough',
    method: 'get',
    beforeSend: function (xhr) {
      xhr.setRequestHeader('X-CSRF-Token', token)
    },
    data: {
      lat: deviceLat, long: deviceLong, game_location_id: <%= @game_location.id %>
    }
  }
  var closeEnoughResponse = function(response){
    console.log(response);
    if (response.close_enough){
      $('.found-it-btn').text("Found It!");
      $('.found-it-btn').prop('disabled', false);
    }
    else {
      var metres = (response.distance * 1000).toFixed(0);
      $('.found-it-btn').text(metres + "m away");
    }
  }
  $.ajax(closeEnoughAPICall).done(closeEnoughResponse);
}

inRange();


$('.found-it-btn').on('click', function(event) {
  event.preventDefault();
  var foundIt = {
    url: '/api/founds',
    method: 'post',
    beforeSend: function (xhr) {
      xhr.setRequestHeader('X-CSRF-Token', token)
    },
    data: {
      user_id: <%= current_user.id %>, game_location_id: <%= @game_location.id %>
    }
  }
  var addFound = function(response) {
    var $foundCount = $('.found-count');
    $foundCount.text(response.founds);
    $('.found-it-btn').text(response.points + " points");
    $('.found-it-btn').prop('disabled', true);
  }
  $.ajax(foundIt).done(addFound)
});

</script>
<% end %>
