<h2><%= @location.name %></h2>
<img src="<%= @location.image %>" alt="<%= @location.name %>" width="400">
<div class="location-desc">
  <h3>Description</h3>
  <p><%= @location.description %></p>
</div>
<div class="found-it">
  <p>This location has been found <span class="found-count"><%= @founds.count %></span> times.</p>
  <% if logged_in? %>
    <button type="button" name="button" class="found-it-btn">Found It!</button>
  <% end %>

</div>
<% if logged_in? %>
<script type="text/javascript">
var token = $('meta[name="csrf-token"]').attr('content');

  $('.found-it-btn').on('click', function(event) {
    event.preventDefault();
    var foundIt = {
      url: '/api/founds',
      method: 'post',
      beforeSend: function (xhr) {
        xhr.setRequestHeader('X-CSRF-Token', token)
      },
      data: {
        user_id: <%= current_user.id %>, game_location_id: <%= @game_location.id %>
      }
    }
    var addFound = function(response) {
      var $foundCount = $('.found-count');

      $foundCount.text(response.founds);
    }
    $.ajax(foundIt).done(addFound)
  });

</script>
<% end %>
