<div class="container-fluid content">
  <h2><%= @game.name %></h2>
  <div class="leaderboard">
    <h4>Leaderboard</h4>
    <% if @scores.count > 0 %>
    <div class="row">
      <div class="col-12 col-md-6">
        <% @scores.each do |score| %>
        <img class="leaderboard-user-avatar img-fluid" src="<%= User.find_by(username: score.username).image.url %>" alt="">
        <p class="leaderboard-user">
          <a href="<%= user_path(score.id) %>"><%= score.username %></a>  <span class="leaderboard-points">
            <%= score.points_for_game @game.id %> points
          </span>
        </p>
        <% end %>
        <% else %>
        <p>no points have been scored for this game yet</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <% @locations.each do |location| %>
      <div class="col-12 col-sm-6 col-lg-4 mb-4">
        <a href="<%= @game.id %>/game_locations/<%= location.id %>">
          <img class="img-fluid location-image" src="<%= location.image %>" width="100%">
        </a>
        <h4 class="game-location-name"><%= location.name %>
          <% if @user_found_location_ids.include? location.id %>
            <span class="found-tick fa fa-check-circle">
            </span>
          <% end %>
        </h4>
      </div>
    <% end %>
  </div>
</div>
