<h1><%= @game.name %></h1>

<% @locations.each do |location| %>
  <div style="display: inline-block;">
    <a href="<%= @game.id %>/game_locations/<%= location.id %>"><img src="<%= location.image %>" width="200"></a>
    <h4><%= location.name %> <% if @user_found_location_ids.include? location.id %> ✅ <% end %>
    </h4>
  </div>
<% end %>

<h1>Leaderboard</h1>
<% @scores.each do |score| %>
  <p><a href="<%= user_path(score.id) %>"><%= score.username %></a> - <%= score.points %> points</p>
<% end %>