<h2><%= @location.name %></h2>
<img src="<%= @location.image %>" alt="<%= @location.name %>" width="400">
<div class="location-desc">
  <h3>Description</h3>
  <p><%= @location.description %></p>
</div>
<div class="found-it">
  <% if logged_in? %>
    <button type="button" name="button" class="found-it">Found It!</button>
  <% end %>
  <p>This location has been found <%= @founds.count %> times.</p>
</div>

<% if logged_in? %>
<script type="text/javascript">
  var foundCount = function() {
    if (<%= @founds.count %> >== 4) {
      var points = 1;
    } else if (<%= @founds.count %> < 1) {
      var points = 4;
    } else if (<%= @founds.count %> === 2) {
      var points = 3;
    } else if (<%= @founds.count %> === 3) {
      var points = 2;
    }
  }
  $('.found-it').on('click', function(event) {
    event.preventDefault();
    var foundIt = {
      url: '/api/founds',
      method: 'post',
      data: {
        user_id: <%= current_user.id %>, game_locations_id: <%= @location.id %>, points: points
      }
    }
  })

</script>
<% end %>
